In [138]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print(tf.__version__)

2.5.0

In [139]:
import pandas as pd
dataset = pd.read_csv('auto-mpg.csv')

In [140]:
dataset.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [141]:
dataset.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [142]:
dataset.drop('car name',axis=1,inplace=True)

In [143]:
len(dataset.columns)

8

In [144]:
dataset.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
393,27.0,4,140.0,86,2790,15.6,82,1
394,44.0,4,97.0,52,2130,24.6,82,2
395,32.0,4,135.0,84,2295,11.6,82,1
396,28.0,4,120.0,79,2625,18.6,82,1
397,31.0,4,119.0,82,2720,19.4,82,1

In [145]:
dataset.origin.value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

In [146]:
dataset['origin']  = dataset['origin'].map({1:'USA',2:'China',3:'Japan'})

In [147]:
dataset = pd.get_dummies(dataset, columns=['origin'])
dataset.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_China,origin_Japan,origin_USA
393,27.0,4,140.0,86,2790,15.6,82,0,0,1
394,44.0,4,97.0,52,2130,24.6,82,1,0,0
395,32.0,4,135.0,84,2295,11.6,82,0,0,1
396,28.0,4,120.0,79,2625,18.6,82,0,0,1
397,31.0,4,119.0,82,2720,19.4,82,0,0,1

In [148]:
pro_dataset = dataset.sample(frac=0.1)

In [149]:
pro_dataset.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_China,origin_Japan,origin_USA
133,16.0,6,250.0,100,3781,17.0,74,0,0,1
100,18.0,6,250.0,88,3021,16.5,73,0,0,1
147,24.0,4,90.0,75,2108,15.5,74,1,0,0
374,23.0,4,151.0,?,3035,20.5,82,0,0,1
204,32.0,4,85.0,70,1990,17.0,76,0,1,0

In [150]:
y = pro_dataset['mpg']
x = pro_dataset.drop('mpg',axis='columns')

In [151]:
x.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin_China,origin_Japan,origin_USA
181,4,91.0,53,1795,17.5,75,0,1,0
309,4,98.0,76,2144,14.7,80,1,0,0
14,4,113.0,95,2372,15.0,70,0,1,0
287,8,351.0,138,3955,13.2,79,0,0,1
397,4,119.0,82,2720,19.4,82,0,0,1

In [155]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 181 to 204
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     40 non-null     int64
 1   displacement  40 non-null     float64
 2   horsepower    40 non-null     object
 3   weight        40 non-null     int64
 4   acceleration  40 non-null     float64
 5   model year    40 non-null     int64
 6   origin_China  40 non-null     uint8
 7   origin_Japan  40 non-null     uint8
 8   origin_USA    40 non-null     uint8
dtypes: float64(2), int64(3), object(1), uint8(3)
memory usage: 2.3+ KB

In [173]:
hp = pd.to_numeric(x['horsepower'])

In [171]:
x.drop(374,inplace=True)

In [182]:
y.head()

181    33.0
309    41.5
14     24.0
287    16.5
397    31.0
Name: mpg, dtype: float64

In [184]:
y.drop(374,inplace=True)

In [175]:
from sklearn import preprocessing
x = preprocessing.normalize(x)

In [176]:
x

array([[2.22254354e-03, 5.05628655e-02, 2.94487019e-02, 9.97366412e-01,
        9.72362797e-03, 4.16726913e-02, 0.00000000e+00, 5.55635884e-04,
        0.00000000e+00],
       [1.86122041e-03, 4.55999000e-02, 3.53631878e-02, 9.97614140e-01,
        6.83998501e-03, 3.72244082e-02, 4.65305102e-04, 0.00000000e+00,
        0.00000000e+00],
       [1.68231845e-03, 4.75254961e-02, 3.99550631e-02, 9.97614839e-01,
        6.30869417e-03, 2.94405728e-02, 0.00000000e+00, 4.20579612e-04,
        0.00000000e+00],
       [2.01320780e-03, 8.83294923e-02, 3.47278346e-02, 9.95279607e-01,
        3.32179287e-03, 1.98804270e-02, 0.00000000e+00, 0.00000000e+00,
        2.51650975e-04],
       [1.46781308e-03, 4.36674391e-02, 3.00901681e-02, 9.98112895e-01,
        7.11889344e-03, 3.00901681e-02, 0.00000000e+00, 0.00000000e+00,
        3.66953270e-04],
       [2.01603886e-03, 8.66896711e-02, 3.69607125e-02, 9.95251186e-01,
        4.53608744e-03, 2.38564599e-02, 0.00000000e+00, 0.00000000e+00,
        3.36006477e-04],
       [2.48202861e-03, 9.36965801e-02, 4.31252471e-02, 9.94362712e-01,
        3.47484006e-03, 2.41997790e-02, 0.00000000e+00, 0.00000000e+00,
        3.10253576e-04],
       [2.01122114e-03, 3.92188123e-02, 2.61458749e-02, 9.98068493e-01,
        9.75442255e-03, 3.92188123e-02, 0.00000000e+00, 5.02805286e-04,
        0.00000000e+00],
       [2.21120474e-03, 7.37989581e-02, 3.45500740e-02, 9.96424134e-01,
        4.14600888e-03, 2.18356468e-02, 0.00000000e+00, 0.00000000e+00,
        2.76400592e-04],
       [1.58016350e-03, 5.33305182e-02, 3.31834336e-02, 9.97478212e-01,
        6.32065401e-03, 3.23933518e-02, 0.00000000e+00, 0.00000000e+00,
        3.95040876e-04],
       [2.21530392e-03, 5.42749461e-02, 3.65525147e-02, 9.96886766e-01,
        7.97509412e-03, 4.31984265e-02, 0.00000000e+00, 0.00000000e+00,
        5.53825981e-04],
       [1.93797886e-03, 7.49351826e-02, 2.90696829e-02, 9.96444130e-01,
        5.68473799e-03, 2.45477322e-02, 0.00000000e+00, 0.00000000e+00,
        3.22996477e-04],
       [1.25196415e-03, 4.41317363e-02, 2.22223637e-02, 9.98441410e-01,
        7.76217774e-03, 2.47262920e-02, 3.12991038e-04, 0.00000000e+00,
        0.00000000e+00],
       [1.58628700e-03, 5.31406144e-02, 3.76743162e-02, 9.97377949e-01,
        5.86926189e-03, 3.09325964e-02, 0.00000000e+00, 3.96571749e-04,
        0.00000000e+00],
       [1.79501237e-03, 7.85317911e-02, 3.25345992e-02, 9.96231865e-01,
        3.14127164e-03, 1.68282410e-02, 0.00000000e+00, 0.00000000e+00,
        2.24376546e-04],
       [1.97051454e-03, 4.48292058e-02, 3.34987472e-02, 9.97572987e-01,
        8.96584117e-03, 4.03955481e-02, 0.00000000e+00, 4.92628635e-04,
        0.00000000e+00],
       [1.60228257e-03, 5.40770368e-02, 3.36479340e-02, 9.97420901e-01,
        6.28895910e-03, 3.24462221e-02, 0.00000000e+00, 0.00000000e+00,
        4.00570643e-04],
       [1.73977448e-03, 6.52415431e-02, 3.04460534e-02, 9.97180741e-01,
        4.49441741e-03, 2.05873314e-02, 0.00000000e+00, 0.00000000e+00,
        2.89962414e-04],
       [2.12779083e-03, 4.57475029e-02, 3.40446533e-02, 9.97401952e-01,
        8.72394241e-03, 4.30877643e-02, 0.00000000e+00, 0.00000000e+00,
        5.31947708e-04],
       [2.12076393e-03, 8.43003663e-02, 3.97643237e-02, 9.95433570e-01,
        3.71133688e-03, 2.01472573e-02, 0.00000000e+00, 0.00000000e+00,
        2.65095491e-04],
       [2.01008477e-03, 4.57294285e-02, 3.41714410e-02, 9.97504566e-01,
        8.04033907e-03, 4.07042165e-02, 0.00000000e+00, 5.02521192e-04,
        0.00000000e+00],
       [1.92819300e-03, 4.09741013e-02, 3.37433775e-02, 9.97839879e-01,
        8.96609746e-03, 3.75997636e-02, 0.00000000e+00, 4.82048251e-04,
        0.00000000e+00],
       [1.76955949e-03, 6.63584808e-02, 2.65433923e-02, 9.97146771e-01,
        5.51512707e-03, 2.35941265e-02, 0.00000000e+00, 0.00000000e+00,
        2.94926581e-04],
       [1.56806536e-03, 4.39058301e-02, 3.13613072e-02, 9.98334947e-01,
        4.36444859e-03, 1.98621612e-02, 2.61344227e-04, 0.00000000e+00,
        0.00000000e+00],
       [2.06303311e-03, 5.77649269e-02, 3.98853067e-02, 9.97132667e-01,
        4.33236952e-03, 2.78509469e-02, 0.00000000e+00, 3.43838851e-04,
        0.00000000e+00],
       [2.04738313e-03, 7.78005591e-02, 3.83884337e-02, 9.96051894e-01,
        3.19903615e-03, 1.84264482e-02, 0.00000000e+00, 0.00000000e+00,
        2.55922892e-04],
       [1.54608000e-03, 4.40632800e-02, 3.51733200e-02, 9.97994641e-01,
        5.41128000e-03, 2.82159600e-02, 3.86520000e-04, 0.00000000e+00,
        0.00000000e+00],
       [1.81221562e-03, 4.57584443e-02, 3.76034740e-02, 9.97624697e-01,
        6.93172473e-03, 3.44320967e-02, 4.53053904e-04, 0.00000000e+00,
        0.00000000e+00],
       [1.93234058e-03, 4.68592590e-02, 3.23667047e-02, 9.97570824e-01,
        8.59891558e-03, 3.91298967e-02, 0.00000000e+00, 4.83085145e-04,
        0.00000000e+00],
       [1.89295262e-03, 7.88730259e-02, 2.27154314e-02, 9.96324063e-01,
        6.15209602e-03, 2.36619078e-02, 0.00000000e+00, 0.00000000e+00,
        3.15492103e-04],
       [1.43057268e-03, 5.00700437e-02, 3.07573126e-02, 9.97824443e-01,
        5.57923344e-03, 2.93267399e-02, 0.00000000e+00, 0.00000000e+00,
        3.57643169e-04],
       [1.60802557e-03, 8.62303715e-02, 3.97986330e-02, 9.95367831e-01,
        2.31153676e-03, 1.46732334e-02, 0.00000000e+00, 0.00000000e+00,
        2.01003197e-04],
       [1.92536896e-03, 7.26826781e-02, 3.36939568e-02, 9.96619107e-01,
        3.36939568e-03, 1.78096629e-02, 0.00000000e+00, 0.00000000e+00,
        2.40671120e-04],
       [2.27237206e-03, 8.72022778e-02, 3.69260460e-02, 9.95298962e-01,
        3.40855809e-03, 1.98832555e-02, 0.00000000e+00, 0.00000000e+00,
        2.84046507e-04],
       [1.77001958e-03, 4.33654797e-02, 3.49578867e-02, 9.97848538e-01,
        7.83233664e-03, 3.36303720e-02, 0.00000000e+00, 0.00000000e+00,
        4.42504895e-04],
       [1.58255371e-03, 6.59397377e-02, 2.63758951e-02, 9.97272593e-01,
        4.48390216e-03, 1.95181624e-02, 0.00000000e+00, 0.00000000e+00,
        2.63758951e-04],
       [1.97789170e-03, 8.24121542e-02, 2.90090783e-02, 9.95868471e-01,
        5.43920218e-03, 2.40643490e-02, 0.00000000e+00, 0.00000000e+00,
        3.29648617e-04],
       [1.89339227e-03, 4.26013261e-02, 3.55011051e-02, 9.97817727e-01,
        7.33689505e-03, 3.50277570e-02, 4.73348068e-04, 0.00000000e+00,
        0.00000000e+00],
       [2.00544541e-03, 4.26157149e-02, 3.50952947e-02, 9.97709091e-01,
        8.52314299e-03, 3.81034628e-02, 0.00000000e+00, 5.01361352e-04,
        0.00000000e+00]])

In [187]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels,test_labels = train_test_split(x,y,test_size=0.2)

In [188]:
len(train_features)

31

In [189]:
from tensorflow.keras import models
from tensorflow.keras.layers import *
model = models.Sequential()

model.add(Dense(512,activation='relu',input_shape=(train_features.shape[1],)))
model.add(Dense(64,activation='relu'))
model.add(Dense(1))

model.compile(loss='mean_absolute_error',
                optimizer=tf.keras.optimizers.Adam(0.01))

In [190]:
model.fit(train_features,train_labels,epochs=10)

Epoch 1/10
1/1 [==============================] - 1s 667ms/step - loss: 25.1250
Epoch 2/10
1/1 [==============================] - 0s 15ms/step - loss: 24.4415
Epoch 3/10
1/1 [==============================] - 0s 11ms/step - loss: 23.7142
Epoch 4/10
1/1 [==============================] - 0s 12ms/step - loss: 22.7152
Epoch 5/10
1/1 [==============================] - 0s 11ms/step - loss: 21.3557
Epoch 6/10
1/1 [==============================] - 0s 14ms/step - loss: 19.5683
Epoch 7/10
1/1 [==============================] - 0s 10ms/step - loss: 17.2739
Epoch 8/10
1/1 [==============================] - 0s 12ms/step - loss: 14.4142
Epoch 9/10
1/1 [==============================] - 0s 12ms/step - loss: 11.1435
Epoch 10/10
1/1 [==============================] - 0s 12ms/step - loss: 8.0243

In [191]:
test_results = model.evaluate(test_features, test_labels, verbose=0)

In [192]:
test_results

8.268726348876953