In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('IRIS.csv')

In [30]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [31]:
dic = {'Iris-versicolor':0,'Iris-setosa':1,'Iris-virginica':2}

In [32]:
df.species.value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: species, dtype: int64

In [33]:
df.replace({'species':dic},inplace=True)

In [34]:
df.species.value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

In [35]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [36]:
x = df.drop('species',axis=1)

In [37]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [38]:
y = df['species']

In [39]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: species, dtype: int64

In [40]:
y.value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

In [41]:
#from sklearn.preprocessing import LabelEncoder
#from keras.utils import np_utils

#encoder = LabelEncoder()
#encoder.fit(y)
#encoded_Y = encoder.transform(y)

#y = np_utils.to_categorical(encoded_Y)

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
train_data,test_data,train_target,test_target = train_test_split(x,y, test_size=0.2, stratify=y)

In [44]:
train_data.shape

(120, 4)

In [45]:
len(train_data)

120

In [46]:
len(test_data)

30

In [47]:
from sklearn import preprocessing

In [48]:
#train_data = preprocessing.normalize(train_data)
#test_data = preprocessing.normalize(test_data)

In [49]:
train_data.shape

(120, 4)

In [50]:
from tensorflow.keras import models

In [51]:
from tensorflow.keras.layers import *

In [52]:
model = models.Sequential()

In [53]:
model.add(Dense(100,activation='relu',input_shape=(4,)))
model.add(Dense(3,activation='softmax'))

model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['acc'])

In [54]:
model.fit(train_data,train_target,epochs=40)

Epoch 1/40
4/4 [==============================] - 1s 5ms/step - loss: 1.5298 - acc: 0.3333
Epoch 2/40
4/4 [==============================] - 0s 4ms/step - loss: 1.3431 - acc: 0.3333
Epoch 3/40
4/4 [==============================] - 0s 4ms/step - loss: 1.1699 - acc: 0.3333
Epoch 4/40
4/4 [==============================] - 0s 4ms/step - loss: 1.0512 - acc: 0.4917
Epoch 5/40
4/4 [==============================] - 0s 4ms/step - loss: 0.9700 - acc: 0.7500
Epoch 6/40
4/4 [==============================] - 0s 5ms/step - loss: 0.9206 - acc: 0.6667
Epoch 7/40
4/4 [==============================] - 0s 4ms/step - loss: 0.8876 - acc: 0.6667
Epoch 8/40
4/4 [==============================] - 0s 4ms/step - loss: 0.8467 - acc: 0.6667
Epoch 9/40
4/4 [==============================] - 0s 4ms/step - loss: 0.8085 - acc: 0.6667
Epoch 10/40
4/4 [==============================] - 0s 3ms/step - loss: 0.7730 - acc: 0.6667
Epoch 11/40
4/4 [==============================] - 0s 4ms/step - loss: 0.7436 - acc: 0.6750
Epoch 12/40
4/4 [==============================] - 0s 5ms/step - loss: 0.7177 - acc: 0.7167
Epoch 13/40
4/4 [==============================] - 0s 3ms/step - loss: 0.6962 - acc: 0.8250
Epoch 14/40
4/4 [==============================] - 0s 4ms/step - loss: 0.6745 - acc: 0.7333
Epoch 15/40
4/4 [==============================] - 0s 4ms/step - loss: 0.6537 - acc: 0.6833
Epoch 16/40
4/4 [==============================] - 0s 4ms/step - loss: 0.6363 - acc: 0.6917
Epoch 17/40
4/4 [==============================] - 0s 4ms/step - loss: 0.6203 - acc: 0.6833
Epoch 18/40
4/4 [==============================] - 0s 4ms/step - loss: 0.6054 - acc: 0.6833
Epoch 19/40
4/4 [==============================] - 0s 4ms/step - loss: 0.5913 - acc: 0.6833
Epoch 20/40
4/4 [==============================] - 0s 4ms/step - loss: 0.5786 - acc: 0.7583
Epoch 21/40
4/4 [==============================] - 0s 4ms/step - loss: 0.5655 - acc: 0.8083
Epoch 22/40
4/4 [==============================] - 0s 6ms/step - loss: 0.5539 - acc: 0.8167
Epoch 23/40
4/4 [==============================] - 0s 4ms/step - loss: 0.5453 - acc: 0.7917
Epoch 24/40
4/4 [==============================] - 0s 6ms/step - loss: 0.5323 - acc: 0.7917
Epoch 25/40
4/4 [==============================] - 0s 5ms/step - loss: 0.5222 - acc: 0.8083
Epoch 26/40
4/4 [==============================] - 0s 5ms/step - loss: 0.5126 - acc: 0.8500
Epoch 27/40
4/4 [==============================] - 0s 5ms/step - loss: 0.5031 - acc: 0.8917
Epoch 28/40
4/4 [==============================] - 0s 4ms/step - loss: 0.4951 - acc: 0.8833
Epoch 29/40
4/4 [==============================] - 0s 4ms/step - loss: 0.4857 - acc: 0.8917
Epoch 30/40
4/4 [==============================] - 0s 4ms/step - loss: 0.4776 - acc: 0.9000
Epoch 31/40
4/4 [==============================] - 0s 4ms/step - loss: 0.4698 - acc: 0.9000
Epoch 32/40
4/4 [==============================] - 0s 5ms/step - loss: 0.4624 - acc: 0.9000
Epoch 33/40
4/4 [==============================] - 0s 4ms/step - loss: 0.4554 - acc: 0.9250
Epoch 34/40
4/4 [==============================] - 0s 5ms/step - loss: 0.4488 - acc: 0.9500
Epoch 35/40
4/4 [==============================] - 0s 5ms/step - loss: 0.4431 - acc: 0.9500
Epoch 36/40
4/4 [==============================] - 0s 4ms/step - loss: 0.4361 - acc: 0.9500
Epoch 37/40
4/4 [==============================] - 0s 5ms/step - loss: 0.4307 - acc: 0.9167
Epoch 38/40
4/4 [==============================] - 0s 6ms/step - loss: 0.4253 - acc: 0.9083
Epoch 39/40
4/4 [==============================] - 0s 4ms/step - loss: 0.4197 - acc: 0.9083
Epoch 40/40
4/4 [==============================] - 0s 4ms/step - loss: 0.4161 - acc: 0.9333

In [55]:
model.evaluate(test_data,test_target)

1/1 [==============================] - 0s 253ms/step - loss: 0.3974 - acc: 0.9667

[0.39739087224006653, 0.9666666388511658]